<div class="container">
  <h2>Acompanhante 1</h2>
  <form [formGroup]="acompanhanteForm">
    <div fxLayout="column">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <div class="field" fxFlex="50">
          <mat-form-field appearance="outline" class="field-100">
              <input matInput placeholder="Primeiro nome" formControlName="firtsName">
          </mat-form-field>
        </div>
        <div class="field" fxFlex="50">
          <mat-form-field appearance="outline" class="field-100">
              <input matInput placeholder="Último nome" formControlName="lastName">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column">
        <div class="field" fxFlex="50">
          <mat-form-field appearance="outline" class="field-100">
              <input matInput placeholder="CPF" formControlName="cpf" mask="000.000.000-00">
          </mat-form-field>
        </div>
        <div class="field" fxFlex="50">
            <mat-form-field appearance="outline" class="field-100">
              <input matInput [matDatepicker]="picker" placeholder="Data de nascimento" formControlName="birthdayDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
      </div>
      <div class="field" fxFlex="100">
        <mat-form-field appearance="outline" class="field-100">
          <input matInput placeholder="Emaisasl" formControlName="email">
        </mat-form-field>

      </div>
    </div>
  </form>
</div>