.card {
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
  width: 100%;
  height:100%;
}
.poster {
  height: 350px;
  background: linear-gradient(0deg,#000 100%);
}
.details {
  padding: 15px;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.details h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-bottom: 15px;
}

.tags {
  position: relative;
  margin-bottom: 50px;
  top: 25px;
}

.tags span {
  padding: 2px 5px;
  margin-right: 5px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

.tags span.genre3 {
  background: #7206f7;
}

.tags span.genre2 {
  background: #f70661;
}

.tags span.genre1 {
  background: #069ff7;
}

.info {
  color: #fff;
}

.info p {
  height: auto;
  margin: 15px, 0, 10px;
}

.btn-reserve {
  width: 100%;
  margin: 10px;
}