<form [formGroup]="reserveForm">
    <div class="field" fxFlex="50">
        <p>Email</p>
        <mat-form-field appearance="outline" class="field-100">
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
    </div>
    <div class="field" fxFlex="50">
        <p>firtsName</p>
        <mat-form-field appearance="outline" class="field-100">
            <input matInput placeholder="Email" formControlName="firtsName">
        </mat-form-field>
    </div>
    <div class="field" fxFlex="50">
        <p>lastName</p>
        <mat-form-field appearance="outline" class="field-100">
            <input matInput placeholder="Email" formControlName="lastName">
        </mat-form-field>
    </div>
    <div class="field" fxFlex="50">
        <p>cpf</p>
        <mat-form-field appearance="outline" class="field-100">
            <input matInput placeholder="Email" formControlName="cpf">
        </mat-form-field>
    </div>
    <div class="field" fxFlex="50">
        <p>birthdayDate</p>
        <mat-form-field appearance="outline" class="field-100">
            <input matInput placeholder="Email" formControlName="birthdayDate">
        </mat-form-field>
    </div>
</form>

<button (click)="saveReserve()">teste</button>