<mat-card class="container">
  <div class="header-form">
    <h2>Formulário</h2>
    <div fxLayout="row" fxLayout.xs="column">
      <div class="content-form" fxFlex="65">
        <div class="header-dados-pessoais">
          <h3>Dados pessoais</h3>
        </div>
        <form [formGroup]="reserveForm">
          <div fxLayout="column">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
              <div class="field" fxFlex="50">
                <mat-form-field appearance="outline" class="field-100">
                    <input matInput placeholder="Primeiro nome" formControlName="firtsName">
                </mat-form-field>
              </div>
              <div class="field" fxFlex="50">
                <mat-form-field appearance="outline" class="field-100">
                    <input matInput placeholder="Último nome" formControlName="lastName">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
              <div class="field" fxFlex="50">
                <mat-form-field appearance="outline" class="field-100">
                    <input matInput placeholder="CPF" formControlName="cpf" mask="000.000.000-00">
                </mat-form-field>
              </div>
              <div class="field" fxFlex="50">
                <mat-form-field appearance="outline" class="field-100">
                  <input matInput [matDatepicker]="picker" placeholder="Data de nascimento" formControlName="birthdayDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="field" fxFlex="100">
              <mat-form-field appearance="outline" class="field-100">
                <input matInput placeholder="Email" formControlName="email">
              </mat-form-field>
            </div>
            <div class="acompanhante">
              <mat-checkbox (change)="haveCompanion()" color="primary" >Acompanhante</mat-checkbox>
              <app-acompanhante (form)="reserveForm?.setControl('acompanhante', $event)" *ngIf="isCompanion"></app-acompanhante>
            </div>
            <div class="endereco">
              <app-endereco (form)="reserveForm?.setControl('endereco', $event)"></app-endereco>
            </div>
          </div>

        </form>
        <div fxLayout="row" fxLayoutAlign="end center" class="btn-salvar">
          <button mat-raised-button color="primary"[disabled]="!reserveForm?.valid" (click)="saveReserve()">Enviar</button>
        </div>
      </div>
      <div class="content-checkout-payment" fxFlex="35">
        <div class="header-ingresso">
          <h3>Seu Ingresso</h3>
        </div>
        <div class="container-ingresso" fxLayout="row" fxLayoutAlign="space-evenly start">
          <img class="img-poster" src="https://image.tmdb.org/t/p/original{{imagePoster}}" alt="poster do filme selecionado">
          <div fxLayout="column">
            <h3 class="title-ingresso">Ingresso</h3>
            <p>Filme: {{nameMovie}}</p>
            <p class="valor-filme"><b>R$ {{valorMovie}}</b></p>
          </div>
        </div>
        <div class="content-ingresso" fxLayout="column">
          <div class="content-value">
            <div fxLayout="row" fxLayoutAlign="space-between center" >
              <p class="sub-title-value">Sub total</p>
              <div fxLayout="column">
                <p>R$ {{valorMovie}}</p>
                <p *ngIf="isCompanion">R$ {{valorMovie}}</p>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" >
              <p class="sub-title-value">Frete</p>
              <p>R$ {{ frete }}</p>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="content-total">
            <p class="sub-title-total">Total</p>
            <p class="valor-filme" *ngIf="!isCompanion">R$ {{valorMovie + frete}}</p>
            <p class="valor-filme" *ngIf="isCompanion">R$ {{valorMovie * 2 + frete}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="25">
          <img class="logo-footer" src="../../../../../assets/otech.png" alt="Logo da otech">
          <span class="addres-footer">Street address: 445 Mount Eden Road, Mount Eden, Auckland - Postcode: 55022</span>
          <h3 class="redes-socias">Nossas Redes</h3>
          <div fxLayout="row" class="content-redes-sociais">
            <div class="logo-redes-footer" fxLayoutAlign="center center">
              <i class="fab fa-instagram"></i>
            </div>
            <div class="logo-redes-footer" fxLayoutAlign="center center">
              <i class="fab fa-linkedin-in"></i>        
            </div>
            <div class="logo-redes-footer" fxLayoutAlign="center center">
              <i class="fab fa-twitter"></i>    
            </div>             
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="25">
          <h3 class="title-section-footer">Sobre Nós</h3>
          <span>Perfil</span>
          <span>Sobre</span>
          <span>Contato</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="25">
          <h3 class="title-section-footer">Redes Sociais</h3>
          <span>Twitter</span>
          <span>Instagram</span>
          <span>Linkedin</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="25">
          <h3 class="title-section-footer">Contato</h3>
          <span>FAC</span>
          <span>Sitemap</span>
          <span>Dúvidas</span>
        </div>
    
      </div>
    </footer>
    <div fxLayout="row">
      <span>Contact Us</span>
      <span class="copyright">Copyight 2019.<i class="far fa-copyright"></i> Tempalte</span>
    </div>
</mat-card>
<app-loading *ngIf="loading"></app-loading>