<div class="header-home" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="center center">
  <p fxFlex="60">Upcoming Movies</p>
  <div fxFlex="35">
    <mat-form-field appearance="outline" class="search-input">
      <span matPrefix><mat-icon>search</mat-icon> &nbsp; &nbsp;</span>
      <input matInput placeholder="Filter movies" [(ngModel)]="search">
    </mat-form-field>
  </div>
</div>

<div class="container" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start center">
  <div *ngFor="let movie of upcomingList | filterByName: search">
      <app-movie-card [dataMovies]="movie"></app-movie-card>
  </div>
</div>