<div class="card">
    <div class="poster"><img src="https://image.tmdb.org/t/p/original{{dataMovies?.poster_path}}"></div>
    <div class="details">
      <h2>{{ dataMovies?.title }} ({{ dataMovies?.release_date | date: 'yyyy' }})</h2>
      <div class="tags" fxLayout="row">
        <div *ngFor="let genre of dataMovies.genres">
          <span class="fantasy">{{ genre?.name }}</span>
        </div>
      </div>
      <div class="info">
        <p>{{ (dataMovies?.overview | truncate) || 'Não possui descrição'}}</p>
      </div>
      <div class="star">
        <h4>Cast</h4>
      </div>
    </div>
  </div>