/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f1f1f1;
}

.mat-form-field:not(.mat-form-field-has-label) .mat-form-field-infix {
  border-top-width: 3px;
  border-bottom-width: 3px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(254, 144, 0);
}

.modal-wiz >  mat-dialog-container {
  padding: 0px;
  margin: 0px;
}
